<?xml version="1.0"?>

<launch>
  <!-- Choose gazebo's world | WARNING: only one of these args can be set to true -->
  <arg name="use_empty_world" default="true"/>
  <arg name="use_small_indoor_scenario" default="false"/>
  <arg name="use_rolling_landscape" default="false"/>
  <arg name="use_sick_day_2012" default="false"/>
  <arg name="use_sick_day_2014" default="false"/>
  <arg name="use_willow_garage" default="false"/>
  <arg name="use_lab6_12" default="false"/>

  <!-- Choose whether to use RViz -->
  <arg name="use_rviz" default="false"/>

  <!-- Rviz -->
  <group if="$(arg use_rviz)">
    <node pkg="rviz" type="rviz" name="rviz" respawn="false" args="-d $(find danielpa)/rviz_cfg/sim.rviz"/>
  </group>

  <!-- Gazebo -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- Worlds -->
  <group if="$(arg use_empty_world)">
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="headless" value="$(arg headless)"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>
  </group>
  <group if="$(arg use_small_indoor_scenario)">
    <include file="$(find hector_gazebo_worlds)/launch/small_indoor_scenario.launch"/>
  </group>
  <group if="$(arg use_rolling_landscape)">
    <include file="$(find hector_gazebo_worlds)/launch/rolling_landscape_120m.launch"/>
  </group>
  <group if="$(arg use_sick_day_2012)">
    <include file="$(find hector_gazebo_worlds)/launch/sick_robot_day_2012_20m.launch"/>
  </group>
  <group if="$(arg use_sick_day_2014)">
    <include file="$(find hector_gazebo_worlds)/launch/sick_robot_day_2014.launch"/>
  </group>
  <group if="$(arg use_willow_garage)">
    <include file="$(find hector_gazebo_worlds)/launch/willow_garage.launch"/>
  </group>
  <group if="$(arg use_lab6_12)">
    <include file="$(find hector_gazebo_worlds)/launch/lab6_12.launch"/>
  </group>

  <!-- Spawn Quadrotor -->
  <include file="$(find danielpa)/launch/spawn_quadrotor_sim.launch">
	<arg name="x" value="0.0"/>
	<arg name="y" value="0.0"/>
	<arg name="z" value="0.3"/>
  </include>

  <!-- Spawn Keyboard Teleop -->
  <arg name="teleop" default="false"/>
  <group if="$(arg teleop)">
    <include file="$(find danielpa)/launch/keyboard_teleop.launch"/>
  </group>

  <!--Launch TF and Hector mapping-->
  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 map world 25"/>

  <include file="$(find danielpa)/launch/mapping_sim.launch"/>
 
   <!--Sonar filtering for the takeoff PID-->
  <!--<node pkg="danielpa" type="med_sonar.py" name="filter_sonar"/>-->


  <!--PID for takeoff -->
  <!-- <node pkg="danielpa" type="hover.py" name="hoverNode"/> -->

  <!--Spawn Navigation -->
  <!--<include file="$(find danielpa)/include/move_base.launch.xml"/>-->

  <!--Test Launch File -->
  <!--<include file="$(find danielpa)/launch/test.launch"/>-->
  
</launch>
