<?xml version="1.0"?>

<launch>

  <arg name="default_file" value="$(find danielpa)/scripts/teleop_keys.txt"/>
  <arg name="config_file" default="$(arg default_file)"/>
  <param name="config_file" type="str" value="$(arg config_file)"/>
  <param name="default_file" type="str" value="$(arg default_file)"/>

  <node pkg="danielpa" type="teleop-quad.py" name="keyboard_teleop"/>
</launch>
