<launch>

	<include file="$(find mavros)/launch/px4.launch">
	</include>

	<include file="$(find px4flow_node)/launch/px4flow.launch">
        </include>

	<node name="rab3D" pkg="rab3D" type="rab3D_robot" output="screen" >
		<rosparam command="load" file="$(find rab3D)/params/rab3D_params.yaml" />
		<rosparam command="load" file="$(find rab3D)/../common_params.yaml" />
	</node>

	<node name="main_control" pkg="main_control" type="main_control" output="screen" >	
		<rosparam command="load" file="$(find main_control)/../../common_params.yaml" />
		<rosparam command="load" file="$(find main_control)/params/control_params.yaml" />
	</node>

	<node name="user_control" pkg="user_control" type="user_control_quad"  output="screen" args = "8000" >
		<rosparam command="load" file="$(find user_control)/../common_params.yaml" />
	</node>
<!--
	<node name="xy_pose" pkg="height_quad" type="xy_pose" output="screen" />

	<node name="optflow_odom_aux" pkg="danielpa" type="optflow-odom.py" output="screen" />
-->
</launch>
