<launch>
<param name="/use_sim_time" value="true" />

	<group ns="quad96">
		

    <node name="main_control" pkg="main_control" type="main_control" output="screen" >
		<rosparam command="load" file="$(find main_control)/../../webots_simulator/quad_config_files/quad96.yaml" />
		<rosparam command="load" file="$(find main_control)/../../webots_simulator/quad_config_files/main_control_params_quad96.yaml" />
		<rosparam command="load" file="$(find main_control)/params/partial_control_params.yaml" />	
    </node>

<!--
		<node name="test_camera_model" pkg="test_camera_model" type="test_camera_model" output="screen" >
		</node>


-->
		<node name="tracker" pkg="phd_blob_tracker" type="tracker" output="screen" >
		</node>

		<node name="avoidance" pkg="avoidance" type="avoidance" output="screen" >
			<rosparam command="load" file="$(find user_control)/../../webots_simulator/quad_config_files/quad96.yaml" />
			<rosparam command="load" file="$(find user_control)/../../webots_simulator/quad_config_files/avoidance_params_quad96.yaml" />
		</node>


<!--
		<node name="ma_targets" pkg="ma_targets" type="ma_targets" output="screen" >
			<rosparam command="load" file="$(find user_control)/../../webots_simulator/quad_config_files/ma_targets_params_quad96.yaml" />
		</node>

-->

    <node name="flight_manager" pkg="flight_manager" type="flight_manager" output="screen" >	
		<rosparam command="load" file="$(find flight_manager)/../webots_simulator/quad_config_files/quad96.yaml" />
    </node>


	</group>

	<group ns="quad97">
		

    <node name="main_control" pkg="main_control" type="main_control" output="screen" >
		<rosparam command="load" file="$(find main_control)/../../webots_simulator/quad_config_files/quad97.yaml" />
		<rosparam command="load" file="$(find main_control)/../../webots_simulator/quad_config_files/main_control_params_quad97.yaml" />
		<rosparam command="load" file="$(find main_control)/params/partial_control_params.yaml" />	
    </node>

<!--
		<node name="test_camera_model" pkg="test_camera_model" type="test_camera_model" output="screen" >
		</node>


-->
		<node name="tracker" pkg="phd_blob_tracker" type="tracker" output="screen" >
		</node>

		<node name="avoidance" pkg="avoidance" type="avoidance" output="screen" >
			<rosparam command="load" file="$(find user_control)/../../webots_simulator/quad_config_files/quad97.yaml" />
			<rosparam command="load" file="$(find user_control)/../../webots_simulator/quad_config_files/avoidance_params_quad97.yaml" />
		</node>


<!--
		<node name="ma_targets" pkg="ma_targets" type="ma_targets" output="screen" >
			<rosparam command="load" file="$(find user_control)/../../webots_simulator/quad_config_files/ma_targets_params_quad97.yaml" />
		</node>

-->

    <node name="flight_manager" pkg="flight_manager" type="flight_manager" output="screen" >	
		<rosparam command="load" file="$(find flight_manager)/../webots_simulator/quad_config_files/quad97.yaml" />
    </node>


	</group>

	<node name="call_center" pkg="call_center" type="call_center"  output="screen" >
	<rosparam command="load" file="$(find call_center)/../webots_simulator/quad_config_files/quad96.yaml" />
  </node>



  <node name="multi_command_line" pkg="user_control" type="multi_command_line"  output="screen" >
	<rosparam command="load" file="$(find main_control)/../../webots_simulator/quad_config_files/quad96.yaml" />
  </node>

<!--
  <node name="user_control_sim" pkg="user_control" type="user_control_sim"  output="screen" >
	<rosparam command="load" file="$(find main_control)/../../webots_simulator/quad_config_files/quad96.yaml" />
  </node>
-->



</launch>


