<?xml version="1.0"?>
<launch>
  <param name="hokuyo/calibrate_time" type="bool" value="false"/>
  <param name="port" type="string" value="/dev/ttyHokuyo"/>
  <!-- default laser parameters -->
  <param name="intensity" value="false"/>
  <param name="cluster" value="1"/>
  <param name="skip" value="0"/>
  

  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 map laser 20"/>

  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_scans">
	  <param name="min_ang" value="-2.2689"/>
	  <param name="max_ang" value="2.2689"/>
  </node>

  
</launch>
